html {
	width: 100%;
	background-color: white;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	font-family: sans-serif;
}

.controls {
	margin-top: 20px;
	margin-left: 3%;
	flex-basis: 200px;
	padding: 0 5px;
	background-color: grey;
}

.controls .force {
	background-color: black;
	border-radius: 3px;
	padding: 5px;
	margin: 25px 100px;
}

.force {
	margin: 20%;
}
.controls .force p label {
	margin-right: .5em;
	font-size: 120%;
	font-weight: bold;
	color: white;
	background-color: lightgrey;
}

.controls .force p {
	margin-top: 0;
	background-color: lightgrey;
}

.controls .force label {
	display: inline-block;
	background-color: lightgrey;
}

.controls input[type="radio"] {
	transform: scale(1.2, 1.2);
	background-color: lightgrey;
	background: green;
	text-align: center;
}

.controls input[type="range"] {
	margin: 0 5% 0.5em 5%;
	width: 90%;
	background-color: lightgrey;
	color: green;
}


/* alpha viewer */

.controls .alpha p {
	margin-bottom: .25em;
}

.controls .alpha .alpha_bar {
	height: .5em;
	border: 1px #777 solid;
	border-radius: 2px;
	padding: 1px;
	display: flex;
}

.controls .alpha .alpha_bar #alpha_value {
	background-color: #555;
	border-radius: 1px;
	flex-basis: 100%
}

.controls .alpha .alpha_bar:hover {
	border-width: 2px;
	margin: -1px;
}

.controls .alpha .alpha_bar:active #alpha_value {
	background-color: #222
}


/* SVG styles */

svg {
	flex-basis: 100%;
	border-style : solid;
	border-width: 10px;
	border-color: grey;
	margin: 1%;
}

.links line {
	stroke: #aaa;
}

.nodes circle {
	pointer-events: all;
}


.d3-tip {
	line-height: 1;
	padding: 10px;
	background: black;
	border-radius: 4px;
	font-size: 12px;
	border-color: black;
	color: white;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: white;
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
}

.legend {
	margin-top: 5%;
}